html {
  scroll-behavior: smooth;
}

.navbarDebuterCouture {
  padding-top: 100px;
  text-align: center;
  font-family: sans-serif;
  background-color: #fae9e8;
  display: flex;
  justify-content: center;
}

.mainMenuDebuterCouture {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 7px 25px;
  border-radius: 50px;
  margin: 0;
  background-color: #ffffff;
}

.navbarDebuterCouture a {
  text-decoration: none;
  color: #835445;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
}
