.home {
  padding: 5px 80px;
  text-align: center;
  font-family: sans-serif;
  background-color: #f9c5c0;
  margin: 0 auto;
  min-height: 100vh;
  color: #803500;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.whySection {
  margin: 35px 0;
  padding: 10px;
  background-color: #fdf1f5;
  border-radius: 10px;
  text-align: left;
  display: flex;
  justify-content: center;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.whyContent {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
}

.whyContent img {
  width: 100px;
  height: auto;
  border-radius: 8px;
}

.whyText h2 {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

.whyText p {
  font-size: 1rem;
  line-height: 1.5;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 1rem;
}

.cardOverlay h2 {
  margin-bottom: 0.5rem;
}

.cardOverlay p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.button:hover {
  background-color: #d96a92;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h2 {
  margin: 1rem 0 0.5rem;
  font-size: 27px;
}

.card p {
  padding: 0 1rem 1rem;
  font-size: 20px;
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #803500;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}
