/* Navbar général */
.navbar {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  padding: 20px 0;
}

.navContent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: clamp(320px, 80%, 1200px);
  margin: -30px auto;
  width: 100%;
  padding: clamp(10px, 4vw, 17px);
}

.logoContent {
  display: flex;
  align-items: center;
}

.logo {
  height: clamp(50px, 13vw, 90px);
}

.mainMenu {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  justify-content: center;
}

/* Liens */
.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #803500;
  font-size: 19px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #50291c;
}

/* Menu mobile - Masquer le menu sur mobile par défaut */
.mainMenu {
  display: flex;
}

@media screen and (max-width: 768px) {
  .mainMenu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .mainMenu.mobileOpen {
    display: flex;
  }

  .hamburgerMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
  }

  .hamburgerLine {
    height: 3px;
    background-color: #803500;
    border-radius: 3px;
  }

  .hamburgerMenu:hover .hamburgerLine {
    background-color: #50291c;
  }
}
