.navbar {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  padding: 20px 0;
}

.navContent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 40px;
}

.logoContent {
  position: absolute;
  left: 40px;
  display: flex;
  align-items: center;
}

.logo {
  height: 90px;
}

.mainMenu {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  flex-grow: 1;
  justify-content: center;
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #803500;
  font-size: 19px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #50291c;
}
